<%- include('../student/includes/head') %>

<div class="card mt-5" style="width:30rem;margin: 0 auto;float: none; margin-bottom: 10px; " >
    <div class="card-header">Login Admin</div>
    <div class="card-body">

        <form action="/admin/login" method="POST">     
            <div class="form-group">
                          
            <%- include('../student/partials/messages') %>
              
                  <div class="form-group">
                    <label for="email"><strong>Email</strong></label>
                    <input  type="email" id="email" name="email" class="form-control " placeholder="Enter Email" required >
                  </div>
                  
                  <div class="form-group mb-4">
                    <label for="password"><strong>Password</strong></label>
                    <input   type="password" id="password" name="password" class="form-control" placeholder="Enter Password"required > 
                  </div>

                <button type="submit"  class="btn btn-success mt-2 float-right">Sign in</button>
                <a href="/" class="mt-4">Return</a>
            </div>
       </form>

    </div>
</div>

<%- include('../student/includes/footer') %>
