
<style>
        .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
</style>
<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <p class="unselectable" oncopy="return false" oncut="return false" onpaste="return false">
           Web based system course assessment helps to interact with the 
            student to help them to choose their career path or course that they will be fit. Some students in freshmen are
             having difficulty in choosing the course or career they want.
          </p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <p>
            Web-based systems are the most powerful systems to use. It
             assists in the processing of data, the storage of required information, and the presentation of the result to the user 
            through the internet and we all know that technology is one of the most beneficial tools for students. 
          </p>
        </div>
      </div>

    </div>
  </section>