    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Contact Us</h2>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="contact-about">
                <h3>Computer Studies</h3>
                <p>Web-based systems are the most powerful systems to use. It assists in the processing of data, the storage of required information, and the presentation of the result to the user through the
                   internet and we all know that technology is one of the most beneficial tools for students.</p>
                <div class="social-links">
                  <a href="https://twitter.com/NewEraU" class="twitter"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/Neu.ph.official/" class="facebook"><i class="icofont-facebook"></i></a>
                  <a href="https://www.neu.edu.ph/" class="page"><i class="icofont-page"></i></a>
                  <a href="https://www.linkedin.com/company/new-era-university-official/" class="linkedin"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
              <div class="info">
                <div>
                  <i class="ri-map-pin-line"></i>
                  <p>No. 9 Central Ave., New Era,
                    Quezon City, Philippines, 1107</p>
                </div>
  
                <div>
                  <i class="ri-mail-send-line"></i>
                  <p>info@neu.edu.ph</p>
                </div>
  
                <div>
                  <i class="ri-phone-line"></i>
                  <p>(02) 8981-4221</p>
                </div>
  
              </div>
            </div>
  
            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
              <!-- email student to admin -->
              <form action="/email" method="post">

                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name"required  placeholder="Your Name" data-rule="minlen:4"/>
                </div>
                
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" required placeholder="Your Email" data-rule="email"/>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" required placeholder="Subject" data-rule="minlen:4" />
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" name="phone" id="phone" required placeholder="Contact Number" data-rule="minlen:11" />
                </div>

                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" required  placeholder="Message"></textarea>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
              </form>

            </div>
          </div>
  
        </div>
      </section><!-- End Contact Section -->