    
        <section id="services" class="services">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>Services</h2>
              <p>College of Computer Studies offered Courses</p>
            </div>
    
          </div>
        </section>
        
    <!-- ======= More Services Section ======= -->
    <section id="more-services" class="more-services">
        <div class="container">
  
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="card" style='background-image: url("assets/img/services/IT.jpg");' data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <h5 class="card-title"><a href="#">Information Technology</a></h5>
                  <p class="card-text">Information Technology careers involve the design, development, support, and management of hardware, software, multimedia, and systems integration services. The demand for new and better technology will continue to grow and so careers for computer and information research scientists are expected to increase.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="card" style='background-image: url("assets/img/services/CS.jpg");' data-aos="fade-up" data-aos-delay="200">
                <div class="card-body">
                  <h5 class="card-title"><a href="#">Computer Science</a></h5>
                  <p class="card-text">Computer Science is the study of computers and computational systems. Unlike electrical and computer engineers, computer scientists deal mostly with software and software systems; this includes their theory, design, development, and application.</p>
                </div>
              </div>
  
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="card" style='background-image: url("assets/img/services/IS.jpg");' data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <h5 class="card-title"><a href="#">Information System</a></h5>
                  <p class="card-text"> is a unique field of study that draws upon elements of both computer science and business. To be an effective leader in technology today, you need to combine deep technical knowledge with sharp business strategy.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="card" style='background-image: url("assets/img/services/GD.jpg");' data-aos="fade-up" data-aos-delay="200">
                <div class="card-body">
                  <h5 class="card-title"><a href="#">Entertainment and Multimedia Computing major in Game Development</a></h5>
                  <p class="card-text">is the art and science of creating games. It involves several phases which allow the game developers to create, program, and produce games based on their own ideas or concepts.</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End More Services Section -->
  