  <!-- important -->
  <script src="/dashboard/js/vendor.bundle.base.js"></script>
  <script src="/dashboard/js/off-canvas.js"></script>
  <script src="/dashboard/js/template.js"></script>

</body>
</html>