<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo mr-5" href="/admin/dashboard"><img src="/image/neu.png" class="mr-2" alt="logo"/>CCS</a>
    <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img src="/image/neu.png" alt="logo"/></a>
  </div>

    <!-- <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <h5><a href="/admin/dashboard">College of Computer Studies</a></h5>
    </div> -->
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="ti-view-list"></span>
      </button>

      
      <ul class="navbar-nav navbar-nav-right">

        <!-- bell icon -->
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="ti-bell mx-0"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
            <a class="dropdown-item">
              <div class="item-thumbnail">
                <div class="item-icon bg-info">
                  <i class="ti-user mx-0"></i>
                </div>
              </div>
              <div class="item-content">
                <h6 class="font-weight-normal">New user registration</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  2 days ago
                </p>
              </div>
            </a>
          </div>
        </li>

        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-target="#profileDropdown">
            <h5><i class="ti-user menu-icon"></i>Welcome Admin <%= user.fname %>  </h5>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" id="profileDropdown"   aria-labelledby="profileDropdown">
            <a href="/admin/logout" class="dropdown-item">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>

      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="ti-view-list"></span>
      </button>
    </div>
  </nav>